@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.custom-shape-divider-bottom-1752691034 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1758285580 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 163px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1758285580 .shape-fill {
    fill: #154CE8;
}

.custom-shape-divider-bottom-1752691034 svg {
  position: relative;
  display: block;
  width: calc(125% + 1.3px);
  height: 416px;
}

.custom-shape-divider-bottom-1752691034 .shape-fill {
  fill: #1449E7;
}

om-shape-divider-bottom-1752690977 .shape-fill {
  fill: #1449E7;
}